@import '../../styles/variables.module.css';

.button {
   align-items: center;
   border-radius: 12px;
   background: var(--primary-color);
   box-shadow: var(--main-shadow);
   box-sizing: border-box;
   cursor: pointer;
   display: inline-flex;
   flex: 1 1 auto;
   font-size: 1.2rem;
   font-family: 'Plus Jakarta Sans', sans-serif;
   font-weight: 400;
   justify-content: center;
   line-height: 1;
   margin: 1rem 1.2rem;
   outline: none;
   padding: 1rem 1.2rem;
   text-align: center;
   text-decoration: none;
   transition: box-shadow .2s,-webkit-box-shadow .2s;
   white-space: nowrap;
   border: 0;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
}

.button:hover {
   box-shadow:  var(--hover-shadow);
    /*box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;*/
}

.button:active {
   /*box-shadow:  var(--click-shadow);*/
   box-shadow:  none;
}

.button:not(.notReadyButton):hover {
   /* Your hover styles here */
}

.notReadyButton {
   color: color-mix(in sRGB, var(--primary-color) 80%, var(--text-color) 20%);
}

.readyButton {
   /*background-color: #61dafb;*/
   /*color: var(--secondary-color);*/
   /*box-shadow: transparent 0 0 0 3px,*/
   /*            rgba(0, 0, 0, .25) 0 6px 20px;*/
}

.doneButton {
   background-color: color-mix(in sRGB, #3fea72 10%, var(--primary-color) 90%);
}

.errorButton {
   background-color: color-mix(in sRGB, #ff8a80 10%, var(--primary-color) 90%);
}

.infoText {
   color: var(--secondary-color);
   font-size: var(--font-size-small);
}